.container h1 {
  padding-bottom: 0.3em;
  margin-bottom: 1em;
  color: #0d4f77;
  text-transform: uppercase;
  border-bottom: 2px solid hsl(0 0% 95%);
}

.container {
  padding: 4% 8em;
}

/* empty cart */
.empty-cart {
  padding: 2em;
  text-align: center;
  border: 1px solid hsl(0 0% 90%);
}

.empty-cart .fa-shopping-cart {
  font-weight: 900;
  color: #0d4f77;
  font-size: 45px;
}

.empty-cart h1 {
  border: none;
  margin: 0;
  text-transform: none;
}

table {
  width: 100%;
  margin-top: 2em;
  border-collapse: collapse;
}

.table-body tr td {
  border-top: 1px solid hsl(0 0% 90%);
}

th {
  background-color: hsl(0 0% 95%);
}

th,
td {
  padding: 8px 10px;
  text-align: start;
}

td img {
  width: 100px;
  height: 100px;
}

td p {
  font-size: 0.8rem;
}

.item-name {
  width: 40%;
  vertical-align: middle;
}
